.clock_container{
    background-color: red;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
    position: relative;
}
#sec,
#min,
#hours{
position: absolute;
background: black;
border-radius: 10px;
transform-origin: bottom;
}

#sec{
    width: 1%;
    height: 40%;
    right: 50%;
    top: 10%;
}

#min{
    width: 2%;
    height: 30%;
    right: 49.3%;
    top: 20%;
}  

 #hours{
    width: 2.5%;
    height: 25%;
    right: 49.1%;
    top: 25%;
} 